//
//  Config-Example.develop.xcconfig
//  Example
//
//  Created by hulilei on 2023/4/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SDK_APP_ID = "app_id_common"
SDK_DEA_ADDRESS = http:\$()\xxxxxxxx:9531
SDK_ENV = common
