<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943218161907-3qbh7dvqtgvbr3httbsnf9sgocf4cts0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943218161907-3qbh7dvqtgvbr3httbsnf9sgocf4cts0</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Mu8bsVqZvZqofRmwuMRL0e4JtmlIy5s</string>
	<key>GCM_SENDER_ID</key>
	<string>943218161907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.examplea.FirebasePOC</string>
	<key>PROJECT_ID</key>
	<string>fir-poc-fc51a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-poc-fc51a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:943218161907:ios:3c71b4de8ea2c7d9</string>
	<key>DATABASE_URL</key>
	<string>https://example.com</string>
</dict>
</plist>
