*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.DS_Store
#CocoaPods
Pods
Pods/
Pod_Products/
!Podfile
!Podfile.lock
ft-sdk-iosTest/testAccount.json
Carthage
FTMobileSDK/FTMobileSDKDocs.docc/.docc-build/
FTMobileSDK/build/