SDK_PRODUCT_NAME = GuanceSDK
SDK_PRODUCT_MODULE_NAME = GuanceSDK
SDK_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.GuanceSDK

SESSION_REPLAY_PRODUCT_NAME = GuanceSessionReplay
SESSION_REPLAY_PRODUCT_MODULE_NAME = GuanceSessionReplay
SESSION_REPLAY_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.GuanceSessionReplay

WIDGET_EXTENSION_PRODUCT_NAME = GuanceWidgetExtension
WIDGET_EXTENSION_PRODUCT_MODULE_NAME = GuanceWidgetExtension
WIDGET_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER = com.ft.sdk.GuanceWidgetExtension
