//
//  Config-Demo.publish.xcconfig
//  dataflux-sdk-ios-demo
//
//  Created by hulilei on 2022/8/5.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SDK_APP_ID = "app_id_prod"
SDK_DEA_ADDRESS = http:\$()\xxxxxxxx:9531
SDK_ENV = prod


