<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<string>Beijing</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Beijing</string>
				<key>districts</key>
				<array>
					<string>Dongcheng</string>
					<string>Xicheng</string>
					<string>Chongwen</string>
					<string>Xuanwu</string>
					<string>Chaoyang</string>
					<string>Fengtai</string>
					<string>Shijingshan</string>
					<string>Haidian</string>
					<string>Mentougou</string>
					<string>Fangshan</string>
					<string>Tongzhou</string>
					<string>Shunyi</string>
					<string>Changping</string>
					<string>Daxing</string>
					<string>Huairou</string>
					<string>Pinggu</string>
					<string>Miyun</string>
					<string>Yanqing</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Tianjin</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Tianjin</string>
				<key>districts</key>
				<array>
					<string>Heping</string>
					<string>Hedong</string>
					<string>Hexi</string>
					<string>Nankai</string>
					<string>Hebei</string>
					<string>Hongqiao</string>
					<string>Tanggu</string>
					<string>Hangu</string>
					<string>Dagang</string>
					<string>Dongli</string>
					<string>Xiqing</string>
					<string>Jinnan</string>
					<string>Beichen</string>
					<string>Wuqing</string>
					<string>Baodi</string>
					<string>Ninghe</string>
					<string>Jinghai</string>
					<string>Ji</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Shanghai</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Shanghai</string>
				<key>districts</key>
				<array>
					<string>Huangpu</string>
					<string>Luwan</string>
					<string>Xuhui</string>
					<string>Changning</string>
					<string>Jing'an</string>
					<string>Putuo</string>
					<string>Zhabei</string>
					<string>Hongkou</string>
					<string>Yangpu</string>
					<string>Minhang</string>
					<string>Baoshan</string>
					<string>Jiading</string>
					<string>Pudong New</string>
					<string>Jinshan</string>
					<string>Songjiang</string>
					<string>Qingpu</string>
					<string>Nanhui</string>
					<string>Fengxian</string>
					<string>Chongming</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Chongqing</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Chongqing</string>
				<key>districts</key>
				<array>
					<string>Chongqing</string>
					<string>Wanzhou</string>
					<string>Fuling</string>
					<string>Yuzhong</string>
					<string>Dadukou</string>
					<string>Jiangbei</string>
					<string>Shapingba</string>
					<string>Jiulongpo</string> 
					<string>Nan'an</string>
					<string>Beibei</string>
					<string>Wansheng</string>
					<string>Shuangqiao</string>
					<string>Yubei</string>
					<string>Banan</string>
					<string>Qianjiang</string>
					<string>Changshou</string>
					<string>Qijiang</string>
					<string>Tongnan</string>
					<string>Tongliang</string>
					<string>Dazu</string>
					<string>Rongchang</string>
					<string>Bishan</string>
					<string>Liangping</string>
					<string>Chengkou</string>
					<string>Fengdu</string>
					<string>Dianjiang</string>
					<string>Wulong</string>
					<string>Zhong</string>
					<string>Kai</string>
					<string>Yunyang</string>
					<string>Fengjie</string>
					<string>Wushan</string>
					<string>Wuxi</string>
					<string>Shizhu</string>
					<string>Xiushan</string>
					<string>Youyang</string>
					<string>Pengshui</string>
					<string>Jiangjin</string>
					<string>Hechuan</string>
					<string>Yongchuan</string>
					<string>Nanchuan</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Hebei</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Shijiazhuang</string>
				<key>districts</key>
				<array>
					<string>Chang'an</string>
					<string>Qiaodong</string>
					<string>Qiaoxi</string>
					<string>Xinhua</string>
					<string>Jingxingkuangqu</string>
					<string>Yuhuaqu</string>
					<string>Jingxingxian</string>
					<string>Zhengdingxian</string>
					<string>Luanchengxian</string>
					<string>Xingtangxian</string>
					<string>Lingshouxian</string>
					<string>Gaoyixian</string>
					<string>Shenzexian</string>
					<string>Zanhuangxian</string>
					<string>Wujiuxian</string>
					<string>Pingshanqu</string>
					<string>Yuanshixian</string>
					<string>Zhaoxian</string>
					<string>Xinjixian</string>
					<string>Gaochengxian</string>
					<string>Jinzhou</string>
					<string>Xinle</string>
					<string>Luquan</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Tangshan</string>
				<key>districts</key>
				<array>
					<string>Luanqu</string>
					<string>Lu'beiqu</string>
					<string>Guye</string>
					<string>Kaiping</string>
					<string>Fengnan</string>
					<string>Fengrun</string>
					<string>Luanxian</string>
					<string>Luannan</string>
					<string>Letingxian</string>
					<string>Qianxixian</string>
					<string>Yutianxian</string>
					<string>Tanghaixian</string>
					<string>Zunhua</string>
					<string>Qianan</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Qinhuangdao</string>
				<key>districts</key>
				<array>
					<string>Haiangqu</string>
					<string>Shanguan</string>
					<string>Daihe</string>
					<string>Qinglong</string>
					<string>Changlixian</string>
					<string>Funingxian</string>
					<string>Lulongxian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Handan</string>
				<key>districts</key>
				<array>
					<string>Ganshan</string>
					<string>Congtai</string>
					<string>Fuxing</string>
					<string>Fengfengkuangqu</string>
					<string>Handanxian</string>
					<string>Linzhangxian</string>
					<string>Chenganxian</string>
					<string>Damingxian</string>
					<string>Shexian</string>
					<string>Cixi</string>
					<string>Feixiangxian</string>
					<string>Yongnianxian</string>
					<string>Qiuxian</string>
					<string>Jizexian</string>
					<string>Guangpingxian</string>
					<string>Guantaoxian</string>
					<string>Weixian</string>
					<string>Quzhouxian</string>
					<string>Wuan</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Xingtai</string>
				<key>districts</key>
				<array>
					<string>Qiaodong</string>
					<string>Qiaoxi</string>
					<string>Xingtaixian</string>
					<string>Linchengxian</string>
					<string>Neiqiuxian</string>
					<string>Baxiangxian</string>
					<string>Longyao</string>
					<string>Renxian</string>
					<string>Nanghe</string>
					<string>Ningjin</string>
					<string>Julu</string>
					<string>Xinhe</string>
					<string>Guangzong</string>
					<string>Pingxiang</string>
					<string>Weixian</string>
					<string>Qinghexian</string>
					<string>Linxixian</string>
					<string>Nangong</string>
					<string>Shahe</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Baoding</string>
				<key>districts</key>
				<array>
					<string>Xin</string>
					<string>Bei</string>
					<string>Nan</string>
					<string>Man</string>
					<string>Qingyuanxian</string>
					<string>Laishuixian</string>
					<string>Fupingxian</string>
					<string>Xushuixian</string>
					<string>Dingxingxian</string>
					<string>Tangxian</string>
					<string>Gaoyangxian</string>
					<string>Rongchengxian</string>
					<string>Laiyuanxian</string>
					<string>Wangduxian</string>
					<string>Anxinxian</string>
					<string>Yixian</string>
					<string>Quyangxian</string>
					<string>Lixian</string>
					<string>Shunpingxian</string>
					<string>Boyexian</string>
					<string>Xiongxian</string>
					<string>Zhuozhou</string>
					<string>Dingzhou</string>
					<string>Anguo</string>
					<string>Gaobeidian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Zhangjiakou</string>
				<key>districts</key>
				<array>
					<string>Qiaodong</string>
					<string>Qiaoxi</string>
					<string>Xuanhua</string>
					<string>Xiahuayuan</string>
					<string>Xuanhuaxian</string>
					<string>Zhangbeixian</string>
					<string>Kangbaoxian</string>
					<string>Guyuanxian</string>
					<string>Shangyixian</string>
					<string>Weixian</string>
					<string>Yangyuanxian</string>
					<string>Huaixian</string>
					<string>Wanquanxian</string>
					<string>Huailaixian</string>
					<string>Zhuoluxian</string>
					<string>Chichengxian</string>
					<string>Chonglixian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Chengde</string>
				<key>districts</key>
				<array>
					<string>Shuangqiao</string>
					<string>Shuangluan</string>
					<string>Yingshouyingzi</string>
					<string>Chengdexian</string>
					<string>Xinglongxian</string>
					<string>Pingquanxian</string>
					<string>Luanpingxian</string>
					<string>Longhua</string>
					<string>Fengning</string>
					<string>Kuancheng</string>
					<string>Weichang</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Cangzhou</string>
				<key>districts</key>
				<array>
					<string>Xinhua</string>
					<string>Yunhe</string>
					<string>Cangxian</string>
					<string>Qingxian</string>
					<string>Dongguangxian</string>
					<string>Haixingxian</string>
					<string>Yanshanxian</string>
					<string>Suningxian</string>
					<string>Nanpixian</string>
					<string>Wuqiaoxian</string>
					<string>Xianxian</string>
					<string>Mengcun</string>
					<string>Botou</string>
					<string>Renqiu</string>
					<string>Huanghua</string>
					<string>Hejian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Langfang</string>
				<key>districts</key>
				<array>
					<string>Anci</string>
					<string>Guangyang</string>
					<string>Guanxian</string>
					<string>Yongqingxian</string>
					<string>Xianghexian</string>
					<string>Daichengxian</string>
					<string>Wenanxian</string>
					<string>Dachang</string>
					<string>Bazhou</string>
					<string>Sanhe</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Hengshui</string>
				<key>districts</key>
				<array>
					<string>Taocheng</string>
					<string>Zaoqiangxian</string>
					<string>Wuyixian</string>
					<string>Wuqiangxian</string>
					<string>Raoyangxian</string>
					<string>Anpingxian</string>
					<string>Guchengxian</string>
					<string>Jingxian</string>
					<string>Fuchengxian</string>
					<string>Jizhou</string>
					<string>Shenzhou</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Shanxi</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Taiyuan</string>
				<key>districts</key>
				<array>
					<string>Xiaodian</string>
					<string>Yingze</string>
					<string>Xinghualing</string>
					<string>Jiancaoping</string>
					<string>Wanbailin</string>
					<string>Jinyuan</string>
					<string>Qingxu</string>
					<string>Yangqu</string>
					<string>Loufan</string>
					<string>Gujiao</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Datong</string>
				<key>districts</key>
				<array>
					<string>Chengqu</string>
					<string>Nangjiao</string>
					<string>Xinrong</string>
					<string>Yanggao</string>
					<string>Tianzhen</string>
					<string>Guangling</string>
					<string>Lingqiu</string>
					<string>Hunyuan</string>
					<string>Zuoyun</string>
					<string>Datong</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Yangquan</string>
				<key>districts</key>
				<array>
					<string>Chengqu</string>
					<string>Kuangqu</string>
					<string>Jiaoqu</string>
					<string>Pingdingxian</string>
					<string>Yuxian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Changzhi</string>
				<key>districts</key>
				<array>
					<string>Chengqu</string>
					<string>Jiaoqu</string>
					<string>Changzhi</string>
					<string>Xiangyuan</string>
					<string>Tunliu</string>
					<string>Pingshunxian</string>
					<string>Lichengxian</string>
					<string>Huguanxian</string>
					<string>Changzixian</string>
					<string>Wuxiangxian</string>
					<string>Qinxian</string>
					<string>Qinyuanxian</string>
					<string>Lucheng</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Jincheng</string>
				<key>districts</key>
				<array>
					<string>Chengqu</string>
					<string>Qinshuixian</string>
					<string>Yangchengxian</string>
					<string>Lingchuanxian</string>
					<string>Zezhouxian</string>
					<string>Gaoping</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Shuozhou</string>
				<key>districts</key>
				<array>
					<string>Shuozhou</string>
					<string>Pingluqu</string>
					<string>Shanyinxian</string>
					<string>Yingxian</string>
					<string>Youyuxian</string>
					<string>Huairenxian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Jinzhong</string>
				<key>districts</key>
				<array>
					<string>Yuci</string>
					<string>Yushexian</string>
					<string>Zuoquanxian</string>
					<string>Heshunxian</string>
					<string>Xixian</string>
					<string>Shouyangxian</string>
					<string>Taiguxian</string>
					<string>Qixian</string>
					<string>Pingyaoxian</string>
					<string>Lingshixian</string>
					<string>Jiexiu</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Yuncheng</string>
				<key>districts</key>
				<array>
					<string>Yanhu</string>
					<string>Linying</string>
					<string>Wanrongxian</string>
					<string>Wenxixian</string>
					<string>Jishanxian</string>
					<string>Xinjiangxian</string>
					<string>Jiangxian</string>
					<string>Yuanquxian</string>
					<string>Xiaxian</string>
					<string>Pingluxian</string>
					<string>Ruichengxian</string>
					<string>Yongji</string>
					<string>Hejin</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Xinzhou</string>
				<key>districts</key>
				<array>
					<string>Xinfu</string>
					<string>Dingxiang</string>
					<string>Wutai</string>
					<string>Daixian</string>
					<string>Fanshixian</string>
					<string>Ningwuxian</string>
					<string>Jinglexian</string>
					<string>Shenchixian</string>
					<string>Wuzhaixian</string>
					<string>Kelanxian</string>
					<string>Hequxian</string>
					<string>Baodexian</string>
					<string>Pianguanxian</string>
					<string>Yuanping</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Linfen</string>
				<key>districts</key>
				<array>
					<string>Yaodu</string>
					<string>Quwoxian</string>
					<string>Yichengxian</string>
					<string>Xiangfenxian</string>
					<string>Hongdongxian</string>
					<string>Guxian</string>
					<string>Anzexian</string>
					<string>Fushanxian</string>
					<string>Jixian</string>
					<string>Xiangningxian</string>
					<string>Daningxian</string>
					<string>Xixian</string>
					<string>Yonghexian</string>
					<string>Puxian</string>
					<string>Fenxixian</string>
					<string>Houma</string>
					<string>Huozhou</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Lvliang</string>
				<key>districts</key>
				<array>
					<string>Lishi</string>
					<string>Wenshuixian</string>
					<string>Jiaochengxian</string>
					<string>Xingxian</string>
					<string>Linxian</string>
					<string>Liulinxian</string>
					<string>Shilouxian</string>
					<string>Lianxian</string>
					<string>Fangshanxian</string>
					<string>Zhongyangxian</string>
					<string>Jiaokouxian</string>
					<string>Xiaoyi</string>
					<string>Fenyang</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>province</key>
		<string>Inner Mongolia</string>
		<key>citys</key>
		<array>
			<dict>
				<key>city</key>
				<string>Hohhot</string>
				<key>districts</key>
				<array>
					<string>Xincheng</string>
				<string>Huimin</string>
				<string>Yuyuquan</string>
				<string>Saihan</string>
				<string>Tumotezuoqi</string>
				<string>Tuoketuo</string>
				<string>Helingeer</string>
				<string>Qingshuihe</string>
				<string>Wuchuan</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Baotou</string>
				<key>districts</key>
				<array>
					<string>Donghe</string>
				<string>Kundulun</string>
				<string>Qingshan</string>
				<string>Shiguai</string>
				<string>Baiyunkuangqu</string>
				<string>Jiuyuan</string>
				<string>Tumotezuoqi</string>
				<string>Guyang</string>
				<string>Dahang</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Wuhai</string>
				<key>districts</key>
				<array>
					<string>Haibowan</string>
				<string>Hainan</string>
				<string>Wuda</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Chifeng</string>
				<key>districts</key>
				<array>
					<string>Hongshan</string>
				<string>Yuanbaoshan</string>
				<string>Songshan</string>
				<string>Arulkeerqinqi</string>
				<string>Balinzuoqi</string>
				<string>Balinyouqi</string>
				<string>Linxi</string>
				<string>Keshiketengqi</string>
				<string>Wengniuteqi</string>
				<string>Kalaqinqi</string>
				<string>Ningchengxian</string>
				<string>Aohanqi</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Tongliao</string>
				<key>districts</key>
				<array>
					<string>Keerqin</string>
				<string>Keerqinzuoyizhongqi</string>
				<string>Keerqinzuoyihouqi</string>
				<string>Kailu</string>
				<string>Kulunqi</string>
				<string>Naimanqi</string>
				<string>Zhaluteqi</string>
				<string>Huolinguole</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Eerduosi</string>
				<key>districts</key>
				<array>
					<string>Dongsheng</string>
				<string>Dalateqi</string>
				<string>Zhungerqi</string>
				<string>Etuokeqianqi</string>
				<string>Etuokeqi</string>
				<string>Hangjinqi</string>
				<string>Wushenqi</string>
				<string>Yijinhuoluoqi</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Hulunbeier</string>
				<key>districts</key>
				<array>
					<string>Hailaer</string>
				<string>Arongqi</string>
				<string>Molidawa</string>
				<string>Erlunchunqi</string>
				<string>Ewenkeqi</string>
				<string>Chenbaerhuqi</string>
				<string>Xinbaerhuzuoqi</string>
				<string>Xinbaerhuyouqi</string>
				<string>Manzhouli</string>
				<string>Yakeshi</string>
				<string>Zhalantun</string>
				<string>Eerguna</string>
				<string>Genhe</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Bayannaoer</string>
				<key>districts</key>
				<array>
					<string>Linhe</string>
				<string>Wuyuanxian</string>
				<string>Dengkouxian</string>
				<string>Wulateqianqi</string>
				<string>Wulatezhongqi</string>
				<string>Wulatehouqi</string>
				<string>Hangjinhouqi</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Ulanqab</string>
				<key>districts</key>
				<array>	
					<string>Jining</string>
				<string>Zhuozi</string>
				<string>Huade</string>
				<string>Shangdu</string>
				<string>Xinghe</string>
				<string>Liangchengxian</string>
				<string>Qinglangqi</string>
				<string>Qinglangzhongqi</string>
				<string>Qinglanghouqi</string>
				<string>Siziwangqi</string>
				<string>Fengzhen</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Xinganmeng</string>
				<key>districts</key>
				<array>
					<string>Wulanhaote</string>
				<string>Aershan</string>
				<string>Keerqinyouqianqi</string>
				<string>Keerqinyouzhongqi</string>
				<string>Zhalaiti</string>
				<string>Tuquanxian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>XilinGol</string>
				<key>districts</key>
				<array>
					<string>Erlianhaote</string>	
				<string>Xilinhaote</string>
				<string>Abagaqi</string>
				<string>Sunitezuoqi</string>
				<string>Suniteyouqi</string>
				<string>Dongwujunqinqi</string>
				<string>Xiwujunqinqi</string>
				<string>Taipusiqi</string>
				<string>Xianghuangqi</string>
				<string>Zhengxiangbaiqi</string>
				<string>Zhenglanqi</string>
				<string>Duolunxian</string>
				</array>
			</dict>
			<dict>
				<key>city</key>
				<string>Alashanmeng</string>
				<key>districts</key>
				<array>
					<string>Alashanzuoqi</string>
				<string>Alashanyouqi</string>
				<string>Ejinaqi</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>